.venue-list {
  height: 84%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.venue-list-btn,
.venue-list-btn-2,
.venue-list-btn-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--ft-size-sm);
  font-weight: var(--ft-weight-bold);
}

.venue-list-btn {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.venue-list-btn-2 {
  padding-left: 1rem;
  color: red;
}

.venue-list-btn-3 {
  color: var(--clr-primary);
  padding-left: 1rem;
}

.btn-1-cont,
.btn-2-cont {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-list-card {
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border-radius: 2rem;
  margin-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin-inline: auto;
  height: 7rem;
  padding-left: 1rem;
}

.venue-list-card:hover {
  cursor: pointer;
}

.venue-card-name {
  font-size: var(--ft-size-sm);
  font-weight: var(--ft-weight-bold);
}

.venue-list-name {
  width: 75%;
  font-size: var();
}

.edit-ven-input {
  height: fit-content;
  font-size: var(--ft-size-sm);
  font-family: "Kanit", sans-serif;
  color: var(--clr-primary);
  border: none;
  border-bottom: 0.25rem solid var(--clr-primary);
  width: 20rem;
}

.venue-btns {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-between;
  padding-right: 1rem;
}
