.recent {
  padding: 0;
  margin: 0;
}

.session-header {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 0.2rem solid var(--clr-primary);
  margin-inline: auto;
}

.session-header > p {
  margin-inline: 1rem;
}

.venue-card > h2 {
  border-bottom: 0.2rem solid var(--clr-light);
}

.recent-venue,
.recent-session {
  height: 5%;
  width: 85vw;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.venue-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.venue-stats {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  align-items: center;
}
