.recent {
  padding: 0;
  margin: 0;
}

.session-header {
  display: flex;
  width: 100%;
  justify-content: center;
  /* border-bottom: 0.2rem solid var(--clr-primary); */
  margin-inline: auto;
  /* background-color: var(--clr-primary); */
  color: var(--clr-primary);
}

.session-header > p {
  margin-inline: 1rem;
}

.venue-card-title {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.recent-venue,
.recent-session {
  height: 5%;
  width: 85vw;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.venue-stats {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  align-items: center;
}

@media (min-width: 760px) {
  .card-container {
    width: 100rem;
    margin-inline: auto;
  }

  .venue-card-title {
    color: var(--clr-light);
    background-color: var(--clr-primary);
    font-size: 2rem;
  }

  .venue-card-header {
    /* border-bottom: 0.1rem solid var(--clr-light); */
  }

  .venue-card {
    width: 90%;
    margin-inline: auto;
  }

  .session-header {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-inline: auto;
    background-color: white;
    border: none;
  }
}
