.notes-container {
  height: 100%;
  width: 100%;
}
.notes-header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.session-edit-input {
  background-color: transparent;
  color: var(--clr-light);
  border: none;
  border-bottom: 0.2rem solid var(--clr-light);
  font-size: var(--ft-size-md);
  width: 15rem;
  height: fit-content;
  text-align: center;
}

.session-edit-textarea {
  width: 100%;
  font-size: var(--ft-size-sm);
  border: 0.25rem solid var(--clr-light);
  font-weight: var(--ft-weight-regular);
}

.notes-body {
  height: 90%;
  padding: 1rem;
  padding-inline: 5rem;
}
