.session-form-header {
  color: var(--clr-light);
  text-align: center;
}

.add-session {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  height: 80%;
  margin-inline: auto;
}

.row-1,
.row-2 {
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row-3 {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row-1 > input {
  width: 45%;
  height: 90%;
  text-align: center;
  background-color: transparent;
  border: 0.25rem solid white;
  border-radius: 1.5rem;
  font-size: var(--ft-size-md);
  color: var(--clr-light);
}

.row-1 > input::placeholder,
.row-2 > input::placeholder,
textarea::placeholder {
  font-size: var(--ft-size-md);
  color: var(--clr-light);
}

.row-2 > input {
  width: 28.75%;
  height: 90%;
  text-align: center;
  background-color: transparent;
  border: 0.25rem solid white;
  border-radius: 1.5rem;
  color-scheme: dark;
  font-size: var(--ft-size-md);
  color: var(--clr-light);
}

.row-3 > textarea {
  width: 92.5%;
  height: 90%;
  background-color: transparent;
  border: 0.25rem solid var(--clr-light);
  border-radius: 1.5rem;
  padding: 1rem 0 0 1rem;
  color: white;
  font-size: var(--ft-size-md);
  color: var(--clr-light);
}

.submit-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
}
