:root {
  /* Colors */
  --clr-primary: #5937a4;
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-neutral: #959595;
  /* Font-Sizes */
  --ft-size-lg: 5rem;
  --ft-size-md: 3rem;
  --ft-size-sm: 2rem;
  /* Font Weights */
  --ft-weight-light: 200;
  --ft-weight-regular: 300;
  --ft-weight-bold: 400;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body,
h1,
h2,
h3,
input,
p {
  padding: 0;
  margin: 0;
  letter-spacing: 0.05rem;
  font-family: "Kanit", sans-serif;
}

/* ---- Utility Classes ---- */

.btn-sm-primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 21rem; /* replace with desired value */
  height: 7.5rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.btn-lg-primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 45rem; /* replace with desired value */
  height: 7.5rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.btn-sm-light {
  background-color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  color: var(--clr-primary);
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 21rem; /* replace with desired value */
  height: 7.5rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.btn-lg-light {
  background-color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  color: var(--clr-primary);
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 45rem; /* replace with desired value */
  height: 7.5rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-dark {
  color: var(--clr-dark);
}

.clr-light {
  color: var(--clr-light);
}

.clr-neutral {
  color: var(--clr-neutral);
}

.font-lg {
  font-size: var(--ft-size-lg);
}

.font-wt-bold {
  font-weight: var(--ft-weight-bold);
}

.font-wt-regular {
  font-weight: var(--ft-weight-regular);
}

.font-wt-light {
  font-weight: var(--ft-weight-light);
}

.font-md {
  font-size: var(--ft-size-md);
}

.font-sm {
  font-size: var(--ft-size-sm);
}

h1 {
  font-size: var(--ft-size-lg);
  font-weight: var(--ft-weight-bold);
}

h2 {
  font-size: var(--ft-size-md);
  font-weight: var(--ft-weight-bold);
}

.h2 {
  background-color: transparent;
  color: var(--clr-light);
  text-align: center;
  font-size: var(--ft-size-md);
  border: none;
  font-family: "Kanit", sans-serif;
}

.p {
  background-color: transparent;
  color: var(--clr-primary);
  text-align: center;
  font-size: var(--ft-size-sm);
  border: none;
  font-family: "Kanit", sans-serif;
}

p {
  font-size: var(--ft-size-sm);
  font-weight: var(--ft-weight-regular);
}

.bg {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ---- End Utility Classes ---- */
.dashboard-container,
.venue-view-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.date > h2,
.stakes > h2 {
  font-size: var(--ft-size-sm);
  margin-left: 1rem;
}

.list-card-header {
  width: 86%;
  margin-inline: auto;
  margin-bottom: 0.5rem;
}

.list-card-header,
.date,
.stakes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.no-stats-container {
  height: 100%;
}

.no-stats-body {
  height: 30%;
  width: 75%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}

.no-stats-body > p {
  padding-top: 2rem;
}

.add-venue-container {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-stats-header {
  height: 20%;
  text-align: center;
}

.session-heading-header {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.venue-heading-header {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.venue-heading-header > input {
  width: 100%;
  margin-top: 0.8rem;
  height: 5.3rem;
  padding-bottom: 0.6rem;
  font-size: var(--ft-size-lg);
  text-align: center;
  background-color: transparent;
  border: 0.3rem solid var(--clr-light);
  border-radius: 1rem;
  color: var(--clr-light);
}

.session-heading-header > input {
  width: 100%;
  margin-top: 0.8rem;
  height: 5.3rem;
  padding-bottom: 0.6rem;
  font-size: var(--ft-size-lg);
  text-align: center;
  background-color: transparent;
  border: 0.3rem solid var(--clr-light);
  border-radius: 1rem;
  color: var(--clr-light);
}

.session-edit-input {
  background-color: transparent;
  color: var(--clr-light);
  border: 0.2rem solid var(--clr-light);
  font-size: var(--ft-size-md);
  width: 90%;
  height: fit-content;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  /* border: 1px solid black; */
}

.session-heading-cont-1 > button {
  border: none;
  background-color: transparent;
  font-size: var(--ft-size-sm);
}

.edit-btns-container {
  display: flex;
  height: 30%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  text-align: center;
}

.session-heading-cont-2 {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.venue-heading-cont-2 {
  width: 70%;
  height: 100%;
}
.edit-btns-container > p {
  font-size: var(--ft-size-md);
  margin-inline: 2rem;
}
.session-heading-cont-2 > p {
  font-size: var(--ft-size-md);
}

.venue-list-container {
  height: 85%;
}

.venue-list {
  height: 84%;
  overflow-y: auto;
}

.session-heading-cont-1,
.session-heading-cont-3,
.venue-heading-cont-1,
.venue-heading-cont-3 {
  width: 15%;
  min-height: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 3;
  justify-content: center;
  margin-inline: auto;
  height: 20%;
}

.stat {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent {
  padding: 0;
  margin: 0;
}

.recent-venue,
.recent-session {
  height: 5%;
  width: 85vw;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
}

.venue-view-heading {
  text-align: center;
}

.addnew-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5%;
}

.edit-ven-input {
  height: 4rem;
  font-size: var(--ft-size-md);
  font-family: "Kanit", sans-serif;
  margin-left: -0.1rem;
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  width: 30rem;
}

.edit-ven-input:focus {
  border: none;
}

.venue-item {
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border-radius: 2rem;
  margin-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  margin-inline: auto;
  height: 7rem;
  padding: 1rem;
}

.venue-item-name {
  width: 75%;
}

.venue-btns {
  display: flex;
  width: 25%;
  justify-content: space-between;
  padding-right: 1rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  height: 60%;
}

.btn-container {
  height: 5%;
  display: flex;
  margin-inline: auto;
  /* border: 1px solid white; */
  align-items: center;
  justify-content: space-evenly;
}

.accent-btn {
  width: 15rem;
  height: 3.5rem;
  margin: 1rem;
  border: 0.3rem solid var(--clr-light);
  border-radius: 2rem;
  background-color: transparent;
  font-size: var(--ft-size-sm);
  color: var(--clr-light);
}

.sessions-list {
  height: 87.5%;
  overflow-y: auto;
}

.no-sessions {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-light);
}

.no-sessions > p {
  font-size: var(--ft-size-md);
  font-weight: var(--ft-weight-bold);
}

.venue-view-card-container {
  height: 60%;
}

.venue-card {
  background-color: var(--clr-primary);
  height: 50%;
}

.session-card {
  background-color: var(--clr-light);
  height: 15%;
}

.venue-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.venue-card,
.session-card {
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
  border-radius: 2rem;
  width: 85%;
  margin-inline: auto;
  padding: 1rem;
  margin-block: 2rem;
}

.session-header {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 30%;
  margin-inline: auto;
  font-weight: var(--ft-weight-bold);
}

.venue-stats {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  align-items: center;
}

.session-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.session-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.session-stat > input {
  padding-left: -0.5rem;
  margin: 0;
}

.venue-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1rem;
  width: 50%;
}

.session-stat > h2 {
  font-size: var(--ft-size-sm);
}

.nav {
  min-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav a {
  color: var(--clr-light);
  text-decoration: none;
}

.nav-container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-light);
  background-color: var(--clr-primary);
}

.nav-item {
  width: 33%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 90%;
  width: 100vw;
  /* border: 1px solid black; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.body-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    28deg,
    rgba(0, 0, 0, 1) 34%,
    rgba(45, 28, 84, 1) 77%,
    rgba(85, 49, 166, 1) 100%
  );
}
