:root {
  /* Colors */
  --clr-primary: #5937a4;
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-neutral: #959595;
  /* Font-Sizes */
  --ft-size-lg: 3.5rem;
  --ft-size-md: 2.5rem;
  --ft-size-sm: 1.75rem;
  /* Font Weights */
  --ft-weight-light: 200;
  --ft-weight-regular: 300;
  --ft-weight-bold: 400;
}

body {
  overflow: hidden;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body,
h1,
h2,
h3,
input,
p,
textarea {
  padding: 0;
  margin: 0;
  letter-spacing: 0.05rem;
  font-family: "Kanit", sans-serif;
}

/* ---- Utility Classes ---- */

.btn-sm-primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 20rem; /* replace with desired value */
  height: 7rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.btn-lg-primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 35rem; /* replace with desired value */
  height: 7rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.btn-sm-light {
  background-color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  color: var(--clr-primary);
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 21rem; /* replace with desired value */
  height: 7rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.btn-lg-light {
  background-color: var(--clr-light);
  font-family: "Kanit", sans-serif;
  color: var(--clr-primary);
  font-size: var(--ft-size-md); /* replace with desired value */
  border: none;
  border-radius: 1.5rem;
  font-weight: var(--ft-weight-bold); /* replace with desired font-weight */
  width: 35rem; /* replace with desired value */
  height: 7rem; /* replace with desired value */
  margin-block: 1rem;
  margin-inline: 1rem;
}

.clr-primary {
  color: var(--clr-primary);
}

.clr-dark {
  color: var(--clr-dark);
}

.clr-light {
  color: var(--clr-light);
}

.clr-neutral {
  color: var(--clr-neutral);
}

.font-lg {
  font-size: var(--ft-size-lg);
}

.font-wt-bold {
  font-weight: var(--ft-weight-bold);
}

.font-wt-regular {
  font-weight: var(--ft-weight-regular);
}

.font-wt-light {
  font-weight: var(--ft-weight-light);
}

.font-md {
  font-size: var(--ft-size-md);
}

.font-sm {
  font-size: var(--ft-size-sm);
}

h1 {
  font-size: var(--ft-size-lg);
  font-weight: var(--ft-weight-bold);
}

h2 {
  font-size: var(--ft-size-md);
  font-weight: var(--ft-weight-bold);
}

.icon-btn-edit,
.icon-btn-delete {
  width: 10rem;
  height: 2.5rem;
  /* border: 1px solid white; */
  color: white;
}

.session-delete-icon {
  height: 2rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--clr-primary);
  padding: 0.25rem;
}

input:focus {
  outline: none;
}

.h2 {
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-weight: var(--ft-weight-bold);
  color: var(--clr-light);
  text-align: center;
  font-size: var(--ft-size-md);
  font-family: "Kanit", sans-serif;
}

.h2:focus {
  outline: none;
}

.h2-2 {
  background-color: transparent;
  color: var(--clr-light);
  text-align: center;
  font-size: var(--ft-size-md);
  border: none;
  font-family: "Kanit", sans-serif;
}

.h2-3 {
  background-color: transparent;
  color: var(--clr-light);
  text-align: center;
  font-size: var(--ft-size-sm);
  border: none;
  font-family: "Kanit", sans-serif;
}

.h2-2:hover {
  cursor: pointer;
}

.p {
  background-color: transparent;
  color: var(--clr-primary);
  text-align: center;
  font-size: var(--ft-size-sm);
  border: none;
  font-family: "Kanit", sans-serif;
}

p {
  font-size: var(--ft-size-sm);
  font-weight: var(--ft-weight-regular);
}

.bg {
  background-color: rgba(255, 255, 255, 0.1);
}

button:hover {
  cursor: pointer;
  scale: 110%;
  transition: 0.2s;
}

button:active {
  scale: 97%;
  transition: 0.2s;
}

/* ---- End Utility Classes ---- */

/* ------------------- Global Mobile Style ------------------- */

.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    28deg,
    rgba(0, 0, 0, 1) 34%,
    rgba(45, 28, 84, 1) 77%,
    rgba(85, 49, 166, 1) 100%
  );
}

.main {
  height: 93%;
  width: 100vw;
  /* border: 1px solid black; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 3;
  justify-content: center;
  margin-inline: auto;
  height: 20%;
  color: var(--clr-light);
}

.stat {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover:hover {
  cursor: pointer;
}

.stat > p,
h2 {
  font-size: var(--ft-size-sm);
}
.list-container {
  height: 90%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom: 0.25rem solid var(--clr-light);
  background-color: var(--clr-light);
}

input::placeholder,
textarea::placeholder {
  color: var(--clr-neutral);
}

.button-container {
  min-height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid white; */
}

button:hover {
  cursor: pointer;
}

.no-stats-container {
  height: 100%;
  color: var(--clr-primary);
}

.no-stats-body {
  height: 30%;
  width: 75%;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
}

.no-stats-body > p {
  padding-top: 2rem;
}

.add-venue-container {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-stats-header {
  height: 20%;
  text-align: center;
}

.venue-list-container {
  height: 85%;
}

.addnew-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5%;
}

.session-view-heading {
  text-align: center;
}

.session-view-heading h2:hover {
  cursor: pointer;
  scale: 120%;
  transition: 0.2s;
  border-radius: 1rem;
  /* background-color: rgba(85, 49, 166, 0.5); */
}

.card-container {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.25);
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.see-all:hover {
  cursor: pointer;
}

.btn-container {
  height: 5%;
  display: flex;
  margin-inline: auto;
  /* border: 1px solid white; */
  align-items: center;
  justify-content: space-evenly;
}

.accent-btn-light {
  width: 15rem;
  height: 3.5rem;
  margin: 1rem;
  border: 0.3rem solid var(--clr-light);
  border-radius: 2rem;
  background-color: transparent;
  font-size: var(--ft-size-sm);
  color: var(--clr-light);
}

.accent-btn-primary {
  width: 15rem;
  height: 3.5rem;
  margin: 1rem;
  border: 0.25rem solid var(--clr-primary);
  border-radius: 2rem;
  background-color: transparent;
  font-size: var(--ft-size-sm);
  color: var(--clr-primary);
  font-weight: var(--ft-weight-bold);
}

.no-sessions {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-light);
}

.no-sessions > p {
  font-size: var(--ft-size-md);
  font-weight: var(--ft-weight-bold);
}

.venue-card {
  background-color: var(--clr-primary);
  border: 0.25rem solid var(--clr-primary);
  height: 20rem;
  margin-block: 1rem;

  color: var(--clr-light);
}

.venue-card h2 {
  text-align: center;
}
.venue-card:hover {
  cursor: pointer;
  scale: 103%;
  transition: 0.2s;
}

.venue-card > p:hover {
  cursor: pointer;
}

.card-section-1a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
  height: 10%;
}

.scroll-btn {
  height: 3rem;
  width: 5rem;
  color: #5937a4;
}

.dashboard-card-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 90%;
  overflow-x: hidden;
  background-color: var(--clr-light);
}

.card-section-1b {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  height: 10%;
}

.notes-title {
  margin-left: -3.5rem;
}

.middle-card-section {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.card-header-section-1 {
  width: 25%;
  display: flex;
  justify-content: flex-start;
}

.card-header-section-2 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}

#el-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  overflow-x: hidden;
}

.indicators {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.indicator-active {
  width: 1.25rem;
  height: 1.25rem;
  margin-inline: 0.5rem;
  background-color: var(--clr-primary);
  border-radius: 100%;
}

.indicator-not-active {
  width: 1rem;
  height: 1rem;
  margin-inline: 0.5rem;
  background-color: #beafde;
  border-radius: 100%;
}

.card-section-session-1b {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  align-items: center;
  height: 10%;
}

.back-button {
  color: var(--clr-primary);
  height: 2rem;
  width: 2rem;

  margin-left: 2rem;
}

.add-button {
  margin-right: 2rem;
  color: var(--clr-primary);
  height: 2rem;
  width: 2rem;
}

.card-section-1a p {
  font-weight: var(--ft-weight-bold);
  color: var(--clr-primary);
  margin-inline: 2rem;
}

.card-section-1a,
.card-section-1b,
.card-section-session-1b {
  background-color: var(--clr-light);
  border-bottom: 0.2rem solid #e4e4e4;
}

.session-card {
  background-color: var(--clr-light);
  border: 0.2rem solid var(--clr-primary);
  height: 10rem;
  margin-block: 1rem;
}

.session-card-2 {
  background-color: var(--clr-primary);
  color: var(--clr-light);
  border: 0.25rem solid var(--clr-primary);
  height: 10rem;
  margin-block: 1rem;
}

.session-card:hover,
.session-card-2:hover {
  cursor: pointer;
  scale: 103%;
  transition: 0.2s;
}

.venue-card,
.session-card,
.session-card-2 {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  width: 90%;

  margin-inline: auto;
  /* padding: 1rem; */
  overflow: hidden;
}

.venue-stats {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  align-items: center;
}

.session-stats {
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.session-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.session-stat > input {
  padding-left: -0.5rem;
  margin: 0;
}

.venue-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1rem;
  width: 50%;
}

.session-stat > h2 {
  font-size: var(--ft-size-sm);
}

/* ------------------- Global Desktop Style ------------------- */

@media screen and (min-width: 754px) {
  .body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    background: linear-gradient(
      28deg,
      rgba(0, 0, 0, 1) 34%,
      rgba(45, 28, 84, 1) 77%,
      rgba(85, 49, 166, 1) 100%
    );
    box-sizing: border-box;
  }

  .nav {
    height: 10%;
    color: var(--clr-light);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav-item {
    display: flex;
    width: 15rem;
    align-items: center;
    justify-content: center;
    font-size: var(--ft-size-sm);
    border: none;
  }

  .nav-item:hover {
    scale: 115%;
    transition: 0.2s;
  }

  .nav {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .nav a {
    color: var(--clr-light);
    text-decoration: none;
  }

  .session-header {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 0.2rem solid var(--clr-primary);
    margin-inline: auto;
    background-color: var(--clr-primary);
    color: var(--clr-light);
  }

  .nav-header {
    width: 50%;
    display: flex;
  }

  .nav-header h1 {
    margin-left: 5rem;
  }

  .nav-items {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
  }

  .buttons-container {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 100%;
  }

  .heading {
    width: 100%;
    height: 70%;
    text-align: center;
    color: var(--clr-light);
    /* align-items: top; */
  }

  .stats-container {
    display: flex;
    flex-wrap: wrap;
    width: 100rem;
    align-items: center;
    justify-content: space-evenly;
    height: 15rem;
    margin-block: 1rem;
    color: var(--clr-light);
  }

  .stat {
    width: 15rem;
    height: 75%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .list-container {
    height: 87.5%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--clr-light);
  }

  #el-2 {
    height: 90%;
  }

  .card-element {
    height: 1rem;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--clr-neutral);
  }

  .button-container {
    min-height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid white; */
  }

  button:hover {
    cursor: pointer;
  }

  .no-stats-container {
    height: 100%;
  }

  .no-stats-body {
    height: 30%;
    width: 75%;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .no-stats-body > p {
    padding-top: 2rem;
  }

  .add-venue-container {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .no-stats-header {
    height: 20%;
    text-align: center;
  }

  .venue-list-container {
    height: 85%;
  }

  .addnew-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 60%;
  }

  .btn-container {
    height: 5%;
    display: flex;
    margin-inline: auto;
    /* border: 1px solid white; */
    align-items: center;
    justify-content: space-evenly;
  }

  .accent-btn {
    width: 15rem;
    height: 3.5rem;
    margin: 0;
    border: 0.3rem solid var(--clr-light);
    border-radius: 2rem;
    background-color: transparent;
    font-size: var(--ft-size-sm);
    color: var(--clr-light);
  }

  .no-sessions {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-light);
  }

  .no-sessions > p {
    font-size: var(--ft-size-md);
    font-weight: var(--ft-weight-bold);
  }

  .venue-card {
    background-color: var(--clr-primary);
    height: 55%;
  }

  .session-card {
    background-color: var(--clr-light);
    border: 0.2rem solid var(--clr-primary);
    height: 20%;
  }

  .venue-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
  }

  .venue-card,
  .session-card {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 2rem;
    width: 90rem;
    margin-inline: auto;
    padding: 1rem;
  }

  .venue-stats {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    align-items: center;
  }

  .session-stats {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .session-stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
  }

  .venue-card-header {
    background-color: var(--clr-light);
    color: var(--clr-primary);
  }

  .session-stat > input {
    padding-left: -0.5rem;
    margin: 0;
  }

  .venue-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 1rem;
    width: 50%;
  }

  .session-stat > h2 {
    font-size: var(--ft-size-sm);
  }
}

/* ------------------- End Global Desktop Style ------------------- */
